.top_logo, .top_menu {
    float: left;
}

.top_logo {
    width: 52%;
}

.top_menu {
    width: 48%;
}


.Top:after, .Top:before{
    display: table;
    content: "";
}

.Top:after {
    clear: both;
}

.top_logo {
    display: inline-block;
}

.top_logo_pic {
    display: block;
    max-width: 140px;
    max-height: 75px;
}

.menu_item {
    display: inline-block;
}

.menu {
    text-align: justify;
}

.menu:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}

.menu_link-text {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(38, 55, 66);
    text-transform: uppercase;
    line-height: 5.9;
    text-align: right;
}

.menu_link_icon {
    vertical-align:sub;
}

.top_slogan {
    font-family: "Montserrat", sans-serif;
    color: rgb(49, 74, 91);

    line-height: 1.104;
    text-align: left;
}

.top_slogan {
    max-width: 590px;
    margin-top: 23em;
}

.slogan {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: bolder;
    white-space: pre-line;
}

.sub_text {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: normal;
    line-height: 2;
}

.read_more_top {
    line-height: 6;
}

.read_more_top_button {
    background-color: rgb(250, 92, 101);
    color: white;
    height: 65px;
    width: 170px;
    border: none;
    border-radius: 7px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14.5px;
}